QWidget#MainWindow {
    background-color: #121214;
}
QLabel {
    color: white;
}
QLabel#Monospace {
    font-family: "Consolas", "Courier New", "Menlo", "Monaco", monospace;
}
QLabel#Bold {
    font-weight: bold;
}
QPushButton {
    background-color: #6D28D9;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
}
QPushButton:hover {
    background-color: #7C3AED
}
QLineEdit {
    background-color: #1E1E24;
    color: #F8FAFC;
    border: none;
    padding: 12px;
    border-radius: 8px;
    selection-background-color: #8B5CF6;
    selection-color: #FFFFFF;
}
QLineEdit:focus {
    border: 2px solid #9D4EDD;
    background-color: #24242B;
}
QTextEdit {
    background-color: #121214; 
    color: #E2E8F0;
    border: 1px solid #231D2E;             
    padding: 12px;
    border-radius: 8px;
}
QScrollBar:vertical {
    border: none;
    background: #121214;
    width: 8px;               
    margin: 0px;
}
QScrollBar::handle:vertical {
    background: #2D2D35;      
    min-height: 20px;
    border-radius: 4px;
}
QScrollBar::handle:vertical:hover {
    background: #6811CD;      
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: none;             
    background: none;
    height: 0px;
}
QProgressBar {
    background-color: #1E1E24;
    border: none;
    height: 6px;              
    border-radius: 3px;
    max-height: 6px;
    min-height: 6px;
}
QProgressBar::chunk {
    background-color: #7C3AED; 
    border-radius: 3px;
    width: 80px;
}
QFrame#errorFrame {
    background-color: #ED0D3C;
    border: none;
    padding: 12px;
    border-radius: 8px;    
}
QFrame#UserMessage {
    background-color: #6811CD;
    border-radius: 8px;
    padding: 10px;
}
QFrame#OtherMessage
{
    background-color: #2D2D35;
    border-radius: 8px;
    padding: 10px;
}
QScrollArea {
    background-color: #121214;
    border: 1px solid #2C2630;
    border-radius: 8px; 
}

